.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.box_2 {
}
.ellipse {
}
.shape {
}
.image {
}
.placeholder {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.heading_1 {
  font-family:'Lato-Bold', 'Lato Bold', 'Lato', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  color:#1E1B1B;
  text-align:left;
}
.heading_3 {
  font-family:'Lato-Bold', 'Lato Bold', 'Lato', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:left;
  line-height:33px;
}
.heading_4 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Lato-Bold', 'Lato Bold', 'Lato', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:rgba(23, 23, 23, 0.501960784313725);
  text-align:left;
  line-height:18px;
  text-transform:uppercase;
}
.heading_6 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  font-family:'Lato-Regular', 'Lato', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.6);
  text-align:left;
  line-height:32px;
}
.line {
}
.radio_button {
  text-align:left;
}
.sticky_1 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.flow_shape {
}
.connector {
  font-family:'Montserrat-Regular', 'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#171717;
}
.shape1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.icon {
}
.sub_summary {
  font-family:'Lato-Light', 'Lato Light', 'Lato', sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#000000;
  text-align:left;
  line-height:42px;
}
.description_text {
  font-family:'Lato-Regular', 'Lato', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.6);
  text-align:left;
  line-height:22px;
}
.flow_main_step {
}
.flow_sub-step {
  font-size:14px;
}
.secondary_button {
  font-family:'JDSansPro-Medium', 'JD Sans Pro Medium', 'JD Sans Pro', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#367C2B;
}
.speech_box {
  font-family:'Lato-Italic', 'Lato Italic', 'Lato', sans-serif;
  font-weight:400;
  font-style:italic;
  font-size:18px;
  color:rgba(0, 0, 0, 0.6);
  text-align:left;
}
.blue_box {
}
.box_11 {
}
.shape2 {
}
.heading_31 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.box_3 {
}
.artifact_box {
}
.light_heading {
  font-family:'Lato-Bold', 'Lato Bold', 'Lato', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
textarea, select, input, button { outline: none; }
